@import 'devicon/devicon.min.css';
@import 'highlight.js/styles/github.css';

@import '../stylesheets/custom';

@import 'bootstrap/scss/bootstrap';
@import '../stylesheets/bootstrap-icons.css';
@import 'ilyabirman-likely/release/likely.min.css';

@import 'node_modules/select2/src/scss/core';
@import 'select2-bootstrap-5-theme/src/include-all';
