@import '../stylesheets/theme.css';

@import '@mantine/core/styles.css';
@import '@mantine/carousel/styles.css';
@import '@mantine/notifications/styles.css';
@import '@mantine/code-highlight/styles.css';
@import "vanilla-cookieconsent/dist/cookieconsent.css";

.markdown-viewer pre,
.markdown-viewer code {
  font-size: var(--mantine-font-size-sm);
  tab-size: 2;
}

html,
body,
#app {
  height: 100%;
  min-height: 100%;
}
