VITE_REACT_APP_PUBLIC_POSTHOG_KEY=phc_y7Jf3JmTEdmXtqZuHoKFXS2R8ypILrhna4VV1IpmrGU
VITE_REACT_APP_PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com
VITE_APP_HOST=code-basics.test
APP_HOST=code-basics.test
APP_PORT=443
SECRET_KEY_BASE=NevergonnagiveyouupNevergonnaletyoudownNevergonnarunaroundanddesertyouNevergonnamakeyoucryNevergonnasaygoodbyeNevergonnatellalieandhurtyou

# NOTE: use carrotquest api key if you need to test any carrotquest related features. Also change the user auth key to the real one.
VITE_CARROTQUEST_API_KEY=carrotquestapikey
CARROTQUEST_USER_AUTH_KEY=userauthkey
OPENAI_ACCESS_TOKEN=
OPENAI_ADMIN_TOKEN=
OPENAI_ORGANIZATION_ID=
# https://github.com/rails/rails/issues/38560
PGGSSENCMODE=disable
