VITE_APP_HOST=code-basics.localhost
APP_HOST=code-basics.localhost
APP_PORT=443
SECRET_KEY_BASE=NevergonnagiveyouupNevergonnaletyoudownNevergonnarunaroundanddesertyouNevergonnamakeyoucryNevergonnasaygoodbyeNevergonnatellalieandhurtyou

# NOTE: use carrotquest api key if you need to test any carrotquest related features. Also change the user auth key to the real one.
VITE_CARROTQUEST_API_KEY=carrotquestapikey
VITE_RUBY_SSR_LOG_LEVEL=debug
CARROTQUEST_USER_AUTH_KEY=userauthkey
OPENAI_ACCESS_TOKEN=
OPENAI_ADMIN_TOKEN=
OPENAI_ORGANIZATION_ID=
# https://github.com/rails/rails/issues/38560
PGGSSENCMODE=disable
HEXLET_PROXY_URL=proxy.hexlet.io:51820

VITE_YANDEX_METRIKA_COUNTER_ID=54648685

N8N_BASE_URL=
N8N_LEAD_CREATED_PATH=

VITE_SENTRY_ORG=hexlet
VITE_SENTRY_PROJECT=code-basics
VITE_SENTRY_URL=https://sentry.hexlet.io/
VITE_SENTRY_AUTH_TOKEN=

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=code_basics_development
