link rel='alternate' hreflang='ru' href=url_for(only_path: false, subdomain: :ru)
link rel='alternate' hreflang='en' href=url_for(only_path: false, subdomain: nil)
link rel='alternate' hreflang='x-default' href=url_for(only_path: false, subdomain: :ru)
