meta charset='utf-8'
meta http-equiv='X-UA-Compatible' content='IE=Edge'
meta name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no'
link rel='alternate' hreflang='ru' href="https://ru.#{request.domain}#{request.fullpath}"
link rel='alternate' hreflang='en' href="https://#{request.domain}#{request.fullpath}"

= yield :meta

= favicon_link_tag
= csrf_meta_tags
= csp_meta_tag
= display_meta_tags site: 'Code Basics', reverse: true
= include_gon(init: true)
- append_javascript_packs 'application'
= stylesheet_pack_tag 'application', media: 'all'
- if Rails.env.production?
  = render 'layouts/deps/gtm_head'
  = render 'layouts/deps/rollbar'
