meta charset='utf-8'
meta http-equiv='X-UA-Compatible' content='IE=Edge'
meta name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no'

/ NOTE: if has at least one route param
- unless request.path_parameters.size > 2
  = render 'layouts/shared/current_page_alternate_lang'

= yield :meta

= favicon_link_tag
= csrf_meta_tags
= csp_meta_tag
= display_meta_tags
= Gon::Base.render_data

/ = stylesheet_link_tag 'vendors'
= stylesheet_link_tag 'application'

- if Rails.env.production?
  = render 'layouts/deps/gtm_head'
  = render 'layouts/deps/renta_head'

= javascript_include_tag 'sentry', 'sprockets', 'application'
