<p>
  <%= t(".link") %>
</p>

<p>
  <%= t(".requested_to_change_password") %>
</p>

<p>
  <%= t(".you_dont_want_to_change") %>
</p>

<p>
  <%= link_to t(".change_password"),
  edit_password_url(reset_password_token: @user.reset_password_token, suffix: @suffix) %>
</p>
