= f.association :creator, as: :autocomplete, source: search_admin_api_users_url(format: 'json')
= f.input :cover
- if f.object.cover.attached?
  = image_tag f.object.cover.variant(:thumb)
= f.input :state_event, as: :aasm_state_event
= f.input :locale
= f.input :slug
= f.input :name
= f.input :body, input_html: { rows: 20 }
= f.submit class: 'btn btn-primary'
