localhost, ru.code-basics.test, en.code-basics.test, code-basics.test {
    gzip
    tls self_signed
    proxy / web:3000 {
        insecure_skip_verify
        transparent
        websocket
        header_upstream X-Forwarded-Host {host}
    }
}

hexletdev.com:80 {
    gzip
    tls self_signed
    proxy / web:3000 {
        insecure_skip_verify
        transparent
        websocket
        header_upstream X-Forwarded-Host {host}
    }
}


# Redir example
# ru.code-basics.test {
#  tls self_signed
#  redir https://code-basics.ru{uri}
#}
