$body-bg: #f5f7fb;
$breadcrumb-divider: quote("→");

@import 'bootstrap/scss/bootstrap';

// generage x-vh-{breakpoint}-{size} class (x-vh-md-50, etc)
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @each $prop, $unit in (height: vh) {
      @each $size in (25, 50, 75, 100) {
        .x-#{$unit}#{$infix}-#{$size} { #{$prop}: #{$size}#{$unit} !important; }
      }
    }
  }
}

// generage x-(w|h)-{breakpoint}-{size} class (x-w-md-25, x-h-md-100, etc)
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @each $prop, $abbrev in (width: w, height: h) {
      @each $size, $length in $sizes {
        .x-#{$abbrev}#{$infix}-#{$size} { #{$prop}: $length !important; }
      }
    }
  }
}

$azure: #45aaf2;

.x-bg-azure {
  background-color: $azure;
}
.x-bg-cyan {
  background-color: $cyan;
}
.x-bg-orange {
  background-color: $orange;
}
.x-bg-indigo {
  background-color: $indigo;
}
.x-bg-blue {
  background-color: $blue;
}
.x-bg-yellow {
  background-color: $yellow;
}
.x-bg-red {
  background-color: $red;
}

/* the only light, non-standard block, has to be customized directly */
.hexlet-basics-theory-card {

  img {
    @include img-fluid();
  }

  table {
    @extend .table;
    @extend .w-auto;
  }

  pre {
    @extend .border;
    @extend .rounded;
    code {
      @extend .p-3;
    }
  }

  .hexlet-basics-example {
    @extend .border;
    @extend .rounded;
    @extend .p-3;
  }

  pre.hexlet-basics-output {
    display: inline-block;
    background-color: $black;
    color: white;
    min-width: 220px;
    max-width: 100%;
    padding: 0 10px 12px 15px;
    margin-bottom: 0;
    border: none;
  }

  pre.hexlet-basics-output:before {
    content: '';
    background:url(('/assets/fake_output_topbar.png'));
    background-repeat: no-repeat;
    background-size: contain;
    width: 210px;
    height: 27px;
    display: block;
    margin-bottom: 10px;
    background-color: #353d46;
    width: calc(100% + 15px);
    margin-left: -15px;
  }
}

.CodeMirror {
  min-height: 100%;
  font-family: var(--font-family-monospace) !important;
}

// для инициализации дискаса на закрытом табе
#disqus_thread iframe {
  min-height: 300px;
}

// hides the disqus block, which breaks the layout and blinks.
.adsbox {
  @extend .position-absolute;
}
