$body-bg: #f5f7fb;
$breadcrumb-divider: quote('→');

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/mixins';

$utilities: map-merge(
  $utilities,
  (
    "responsive-height": (
      property: height,
      class: 'x-h',
      responsive: true,
      values: (
        100: 100%,
      )
    )
  )
);

$azure: #45aaf2;

.x-bg-azure {
  background-color: $azure;
}
.x-bg-cyan {
  background-color: $cyan;
}
.x-bg-orange {
  background-color: $orange;
}
.x-bg-indigo {
  background-color: $indigo;
}
.x-bg-blue {
  background-color: $blue;
}
.x-bg-yellow {
  background-color: $yellow;
}
.x-bg-red {
  background-color: $red;
}

/* the only light, non-standard block, has to be customized directly */
.hexlet-basics-content {

  img {
    @include img-fluid();
  }

  table {
    @extend .table;
    @extend .w-auto;
  }

  pre {
    @extend .border;
    @extend .rounded;
    code {
      @extend .p-3;
    }
  }

  .hexlet-basics-example {
    @extend .border;
    @extend .rounded;
    @extend .p-3;
  }

  pre.hexlet-basics-output {
    display: inline-block;
    background-color: $black;
    color: white;
    min-width: 220px;
    max-width: 100%;
    padding: 0 10px 12px 15px;
    margin-bottom: 0;
    border: none;
  }

  pre.hexlet-basics-output:before {
    content: '';
    background:url(('~images/fake_output_topbar.png'));
    background-repeat: no-repeat;
    background-size: contain;
    height: 27px;
    display: block;
    margin-bottom: 10px;
    background-color: #353d46;
    width: calc(100% + 25px);
    margin-left: -15px;
  }
}

.CodeMirror {
  min-height: 100%;
  font-family: var(--font-family-monospace) !important;
}

// для инициализации дискаса на закрытом табе
#disqus_thread iframe {
  min-height: 300px;
}

// hides the disqus block, which breaks the layout and blinks.
.adsbox {
  @extend .position-absolute;
}
