{
	"auths": {
		"https://index.docker.io/v1/": {
                     "auth": "{{ (hexlet_basics_vault_docker_hub_username + ':' + hexlet_basics_vault_docker_hub_password) | b64encode }}"
		}
        }
}
