GITHUB_CLIENT_ID={{ hexlet_basics_vault_github_client_id }}
GITHUB_CLIENT_SECRET={{ hexlet_basics_vault_github_client_secret }}
FACEBOOK_CLIENT_ID={{ hexlet_basics_vault_facebook_client_id }}
FACEBOOK_CLIENT_SECRET={{ hexlet_basics_vault_facebook_client_secret }}
SPARKPOST_SMTP_USERNAME={{ hexlet_basics_vault_sparkpost_smtp_username }}
SPARKPOST_SMTP_PASSWORD={{ hexlet_basics_vault_sparkpost_smtp_password }}
SENTRY_DSN={{ hexlet_basics_vault_sentry_dsn }}
PORT={{ hexlet_basics_port }}
DB_NAME={{ hexlet_basics_vault_db_name }}
DB_USERNAME={{ hexlet_basics_vault_db_username }}
DB_PASSWORD={{ hexlet_basics_vault_db_password }}
DB_HOSTNAME={{ hexlet_basics_vault_db_hostname }}
DB_PORT={{ hexlet_basics_vault_db_port }}
DB_SSL_MODE={{ hexlet_basics_vault_db_ssl_mode }}
DB_POOL_SIZE={{ hexlet_basics_vault_db_pool_size }}
SECRET_KEY_BASE={{ hexlet_basics_vault_secret_key_base }}
GUARDIAN_SECRET_KEY={{ hexlet_basics_vault_guardian_secret_key }}
NODE_ENV={{ hexlet_basics_node_env }}
APP_HOST={{ hexlet_basics_app_host }}
APP_SCHEME={{ hexlet_basics_app_scheme }}
APP_RU_HOST={{ hexlet_basics_app_ru_host }}
REDIS_URL={{ hexlet_basics_redis_url }}
WEBPACKER_DEV_SERVER_PUBLIC='code-basics.test'
WEBPACK_DEV_SERVER=0.0.0.0
SPRING_TMP_PATH=tmp
SPRING_SERVER_COMMAND='docker-compose up spring'

DO_SPACES_ACCESS_ID={{ hexlet_basics_vault_do_spaces_access_id }}
DO_SPACES_SECRET_KEY={{ hexlet_basics_vault_do_spaces_secret_key }}
DO_SPACES_REGION={{ hexlet_basics_vault_do_spaces_region }}
DO_SPACES_SITEMAP_BUCKET={{ hexlet_basics_vault_do_spaces_sitemap_bucket }}
