postgres_db = {
  host = "{{ vault_postgres_db.host }}"
  port = "{{ vault_postgres_db.port }}"
  name = "{{ vault_postgres_db.name }}"
  username = "{{ vault_postgres_db.username }}"
  username2 = "{{ vault_postgres_db.username2 }}"
  password = "{{ vault_postgres_db.password }}"
  username_readonly = "{{ vault_postgres_db.username_readonly }}"
  datadog_username = "{{ vault_postgres_db.datadog_username }}"
  datadog_password = "{{ vault_postgres_db.datadog_password }}"
}

environment_file = {
  SPARKPOST_SMTP_USERNAME = "{{ hexlet_basics_vault_sparkpost_smtp_username }}"
  SPARKPOST_SMTP_PASSWORD = "{{ hexlet_basics_vault_sparkpost_smtp_password }}"

  GITHUB_CLIENT_ID = "{{ hexlet_basics_vault_github_client_id }}"
  GITHUB_CLIENT_SECRET = "{{ hexlet_basics_vault_github_client_secret }}"

  FACEBOOK_CLIENT_ID = "{{ hexlet_basics_vault_facebook_client_id }}"
  FACEBOOK_CLIENT_SECRET = "{{ hexlet_basics_vault_facebook_client_secret }}"

  GOOGLE_CLIENT_ID = "{{ hexlet_basics_vault_google_client_id }}"
  GOOGLE_CLIENT_SECRET = "{{ hexlet_basics_vault_google_client_secret }}"
  GOOGLE_TAG_MANAGER_KEY = "{{ hexlet_basics_vault_google_tag_manager_key }}"

  DATABASE_URL = "postgres://{{ vault_postgres_db.username }}:{{ vault_postgres_db.password }}@{{ vault_postgres_db.host }}:{{ vault_postgres_db.port }}/{{ vault_postgres_db.name }}"

  SECRET_KEY_BASE = "{{ hexlet_basics_vault_secret_key_base }}"

  SENTRY_DSN = "{{ hexlet_basics_vault_sentry_dsn }}"
  SENTRY_API_TOKEN = "{{ hexlet_basics_vault_sentry_api_token }}"

  SITEMAPS_S3_BUCKET = "{{ vault_yc.sitemaps_storage.bucket }}"
  SITEMAPS_S3_ACCESS_KEY_ID = "{{ vault_yc.sitemaps_storage.access_key_id }}"
  SITEMAPS_S3_ACCESS_SECRET_KEY = "{{ vault_yc.sitemaps_storage.secret_key_id }}"
  SITEMAPS_S3_REGION = "{{ vault_yc.sitemaps_storage.region }}"
  SITEMAPS_S3_ENDPOINT = "{{ vault_yc.sitemaps_storage.endpoint }}"
  SITEMAPS_S3_HOST = "{{ vault_yc.sitemaps_storage.host }}"

  STORAGE_S3_BUCKET = "{{ vault_yc.storage.bucket }}"
  STORAGE_S3_ACCESS_KEY_ID = "{{ vault_yc.storage.access_key_id }}"
  STORAGE_S3_ACCESS_SECRET_KEY = "{{ vault_yc.storage.secret_key_id }}"
  STORAGE_S3_REGION = "{{ vault_yc.storage.region }}"
  STORAGE_S3_ENDPOINT = "{{ vault_yc.storage.endpoint }}"
  STORAGE_S3_HOST = "{{ vault_yc.storage.host }}"

  APP_HOST = "{{ app_config.host }}"
  VITE_APP_HOST = "{{ app_config.host }}"

  PORT = "{{ app_config.port }}"
  NODE_ENV = "{{ app_config.node.env }}"
  RAILS_ENV = "{{ app_config.rails.env }}"
  RAILS_LOG_TO_STDOUT = "{{ app_config.rails.log_to_stdout }}"
  RAILS_SERVE_STATIC_FILES = "{{ app_config.rails.serve_static_files }}"

  CSP_REPORT_URI = "{{ hexlet_basics_vault_csp_report_uri }}"

  CARROTQUEST_USER_AUTH_KEY = "{{ hexlet_basics_vault_carrotquest_user_auth_key }}"
  OPENAI_ACCESS_TOKEN = "{{ vault_openai.access_token }}"
}

datadog_api_key = "{{ vault_datadog_api_key }}"

cloudflare_api_key = "{{ hexlet_basics_vault_cloudflare_api_key }}"
cloudflare_email = "{{ hexlet_basics_vault_cloudflare_email }}"

domain = "{{ hexlet_basics_domain }}"
domain_ru = "{{ hexlet_basics_domain_ru }}"

k8s_data = {
  ip1 = "{{ vault_k8s_data.ip1 }}"
  ip2 = "{{ vault_k8s_data.ip2 }}"
  ip3 = "{{ vault_k8s_data.ip3 }}"
}

yc = {
  cloud_id = "{{ vault_yc.cloud_id }}"
  folder_id = "{{ vault_yc.folder_id }}"
  zone = "{{ vault_yc.zone }}"
  sitemaps_storage = {
    bucket = "{{ vault_yc.sitemaps_storage.bucket }}"
  }
  storage = {
    bucket = "{{ vault_yc.storage.bucket }}"
  }
}
