cloudflare_api_key = "{{ hexlet_basics_vault_cloudflare_api_key }}"
cloudflare_email = "{{ hexlet_basics_vault_cloudflare_email }}"
github_client_id = "{{ hexlet_basics_vault_github_client_id }}"
github_client_secret = "{{ hexlet_basics_vault_github_client_secret }}"
facebook_client_id = "{{ hexlet_basics_vault_facebook_client_id }}"
facebook_client_secret = "{{ hexlet_basics_vault_facebook_client_secret }}"
secret_key_base = "{{ hexlet_basics_vault_secret_key_base }}"
rollbar_access_token = "{{ hexlet_basics.vault_rollbar_access_token }}"
rollbar_client_access_token = "{{ hexlet_basics.vault_rollbar_client_access_token }}"
sparkpost_smtp_username = "{{ hexlet_basics_vault_sparkpost_smtp_username }}"
sparkpost_smtp_password = "{{ hexlet_basics_vault_sparkpost_smtp_password }}"
guardian_secret_key = "{{ hexlet_basics_vault_guardian_secret_key }}"

google_tag_manager_key="{{ hexlet_basics_vault_google_tag_manager_key }}"

domain = "{{ hexlet_basics_domain }}"
domain_ru = "{{ hexlet_basics_domain_ru }}"
ip = "{{ hexlet_basics_vault_ip }}"

cluster_region = "{{ hexlet_basics_cluster_region }}"
cluster_name_2 = "{{ hexlet_basics_cluster_name_2 }}"
cluster_node_2_name = "{{ hexlet_basics_cluster_node_2_name }}"
cluster_node_2_size = "{{ hexlet_basics_cluster_node_2_size }}"
postgres_db_node_size = "{{ hexlet_basics_postgres_db_node_size }}"
postgres_version = "{{ hexlet_basics_postgres_version }}"
postgres_db_cluster_name = "{{ hexlet_basics_postgres_db_cluster_name }}"
redis_version = "{{ hexlet_basics_redis_version }}"
redis_db_cluster_name = "{{ hexlet_basics_redis_db_cluster_name }}"
redis_db_node_size = "{{ hexlet_basics_redis_db_node_size }}"

postgres_db_name = "{{ hexlet_basics_vault_postgres_db_name }}"
postgres_db_user = "{{ hexlet_basics_vault_postgres_db_user }}"
