/ .container
/   .card.bg-primary.text-light.p-5
/     .card-block
/       .fs-3.fw-bold
/         = t('.trusted_by', count: User.count)

/       .row
/         .col.m-auto
/           = User.count
/         .col
/         .col
