|
  User-agent: *
  Disallow: /locale/
  Disallow: /users/
  Disallow: /session/
  Disallow: /remind_password
  Disallow: /cdn-cgi/
  Disallow: /password/
  Disallow: /confirm
  Disallow: /*?
  Disallow: */prev_lesson
  Disallow: */next_lesson
  Disallow: *.php
  Disallow: */edit
  Disallow: */modules/
  Allow: */modules$

  Sitemap: https://#{request.host}/sitemaps/#{I18n.locale}/sitemap.xml#{ Rails.env.production? ? '.gz' : '' }
