---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ include "codebasics.fullname" . }}-console-deployment"
  namespace: "{{ .Release.Namespace }}"
  labels:
    app.kubernetes.io/name: "{{ .Chart.Name }}"
    {{- include "codebasics.labels" . | nindent 4 }}

spec:
  replicas: 1

  selector:
    matchLabels:
      app.kubernetes.io/name: "{{ include "codebasics.fullname" . }}-console-pod"
      app.kubernetes.io/instance: "{{ .Release.Name }}"
  template:
    metadata:
      labels:
        app.kubernetes.io/name: "{{ include "codebasics.fullname" . }}-console-pod"
        {{- include "codebasics.labels" . | nindent 8 }}
    spec:
      nodeSelector:
        group: "{{ .Release.Namespace }}"

      imagePullSecrets:
        - name: docker-config
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000

      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: role
                    operator: In
                    values:
                      - service

      volumes:
        - name: users-code-path
          hostPath:
            path: /tmp/hexlet-basics
        - name: docker-sock
          hostPath:
            path: /var/run/docker.sock
        - name: docker-secret
          secret:
            secretName: docker-config
            items:
              - key: .dockerconfigjson
                path: config.json

      containers:
        - name: console
          imagePullPolicy: Always
          image: "{{ .Values.app.image.repository }}:{{ .Values.version }}"
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          command: [ "/bin/bash", "-c", "--" ]
          args: [ "while true; do sleep 30; done;"  ]
          resources:
            requests:
              memory: 50Mi
              cpu: 10m
            limits:
              memory: 700Mi
          volumeMounts:
            - mountPath: /tmp/hexlet-basics
              name: users-code-path
            - mountPath: /var/run/docker.sock
              name: docker-sock
            - name: docker-secret
              mountPath: /home/rails/.docker
          envFrom:
            - secretRef:
                name: codebasics-environment-secrets
          env:
            - name: HEXLET_BASICS_RELEASE_VERSION
              value: {{ .Values.version | quote }}
            - name: RAILS_MAX_THREADS
              value: "2"
