---

apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: "{{ include "codebasics.fullname" . }}-gateway"
  namespace: "{{ .Release.Namespace }}"
  labels:
    app.kubernetes.io/name: "{{ .Chart.Name }}"
    {{- include "codebasics.labels" . | nindent 4 }}
spec:
  gatewayClassName: "{{ .Values.gateway.className }}"
  listeners:
    - name: http
      protocol: HTTP
      port: 80
      allowedRoutes:
        namespaces:
          from: Same
    - name: https
      protocol: HTTPS
      port: 443
      allowedRoutes:
        namespaces:
          from: Same
      tls:
        certificateRefs:
          - group: gwin.yandex.cloud
            kind: YCCertificate
            name: "{{ include "codebasics.fullname" . }}-yc-certificate"
  addresses:
    - type: "{{ .Values.gateway.address.type }}"
      value: "{{ .Values.gateway.address.value }}"
