{{- if .Values.networkPolicy.enabled }}
---

apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: "{{ .Release.Name }}-web-network-policy"
  namespace: "{{ .Release.Namespace }}"
spec:
  podSelector:
    matchExpressions:
      - key: app.kubernetes.io/name
        operator: In
        values:
          - "{{ .Release.Name }}-web-pod"
          - "{{ .Release.Name }}-web-check-pod"
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - {}
  egress:
    - {}
{{- end }}
