{{- if .Values.networkPolicy.enabled }}
---

apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: "{{ include "codebasics.fullname" . }}-web-network-policy"
  namespace: "{{ .Release.Namespace }}"
  labels:
    app.kubernetes.io/name: "{{ .Chart.Name }}"
    {{- include "codebasics.labels" . | nindent 4 }}
spec:
  podSelector:
    matchExpressions:
      - key: app.kubernetes.io/name
        operator: In
        values:
          - "{{ include "codebasics.fullname" . }}-web-pod"
          - "{{ include "codebasics.fullname" . }}-web-check-pod"
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - {}
  egress:
    - {}
{{- end }}
