---
kind: Service
apiVersion: v1
metadata:
  name: "{{ .Release.Name }}-frontend-service"
  labels:
    app.kubernetes.io/name: "{{ .Chart.Name }}"
    app.kubernetes.io/instance: "{{ .Release.Name }}"
    app.kubernetes.io/version: "{{ .Chart.AppVersion }}"
    app.kubernetes.io/managed-by: "{{ .Release.Service }}"
spec:
  selector:
    app.kubernetes.io/name: "{{ .Release.Name }}-web-pod"
  type: NodePort
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
