---

apiVersion: v1
kind: Service
metadata:
  name: "{{ include "codebasics.fullname" . }}-web-service"
  namespace: "{{ .Release.Namespace }}"
  labels:
    app.kubernetes.io/name: "{{ .Chart.Name }}"
    {{- include "codebasics.labels" . | nindent 4 }}
spec:
  selector:
    app.kubernetes.io/name: "{{ include "codebasics.fullname" . }}-web-pod"
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
