---

apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: "{{ include "codebasics.fullname" . }}-web-pdb"
  namespace: "{{ .Release.Namespace }}"
  labels:
    app.kubernetes.io/name: "{{ .Chart.Name }}"
    {{- include "codebasics.labels" . | nindent 4 }}
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: "{{ include "codebasics.fullname" . }}-web-pod"
      app.kubernetes.io/instance: "{{ .Release.Name }}"
