/* NOTE: adapted source https://github.com/devicons/devicon/blob/master/devicon-base.css for use with webpack plugin fontmin  */
@font-face {
  font-family: 'devicon';
  src: url('devicon/fonts/devicon.woff?biu5f3') format('woff'),
       url('devicon/fonts/devicon.ttf?biu5f3') format('truetype');

  font-weight: normal;
  font-style: normal;
  font-display: block;
}


[class^="devicon-"], [class*=" devicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'devicon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.devicon-bash-plain:before {
  content: "\e946";
  color: #293138;
}
.devicon-csharp-plain:before {
  content: "\e9a0";
  color: #68217a;
}
.devicon-c-plain:before {
  content: "\e998";
  color: #03599c;
}
.devicon-clojure-plain:before {
  content: "\e975";
  color: #5881d8;
}
.devicon-css3-plain:before {
  content: "\e9a1";
  color: #3d8fc6;
}
.devicon-cplusplus-plain:before {
  content: "\e99a";
  color: #9c033a;
}
.devicon-devicon-plain:before {
  content: "\e9b7";
  color: #60be86;
}
.devicon-elixir-plain:before {
  content: "\e9db";
  color: #380a4d;
}
.devicon-go-plain:before {
  content: "\ea3d";
  color: #00acd7;
}
.devicon-haskell-plain:before {
  content: "\ea58";
  color: #5e5185;
}
.devicon-html5-plain:before {
  content: "\ea67";
  color: #e54d26;
}
.devicon-java-plain:before {
  content: "\ea7f";
  color: #ea2d2e;
}
.devicon-pre-course-java-plain:before {
  content: "\ea7f";
  color: #ea2d2e;
}
.devicon-javascript-plain:before {
  content: "\ea81";
  color: #f0db4f;
}
.devicon-pre-course-javascript-plain::before {
  content: "\ea81";
  color: #f0db4f;
}
.devicon-kotlin-plain:before {
  content: "\eab5";
  color: #7c6db2;
}
.devicon-lua-plain:before {
  content: "\ead3";
  color: navy;
}
.devicon-ocaml-plain:before {
  content: "\eb3c";
  color: #f18803;
}
.devicon-perl-plain:before {
  content: "\eb5f";
  color: #212177;
}
.devicon-php-plain:before {
  content: "\eb68";
  color: #6181b6;
}
.devicon-python-plain:before {
  content: "\eb9c";
  color: #ffd845;
}
.devicon-pre-course-python-plain:before {
  content: "\eb9c";
  color: #ffd845;
}
.devicon-ruby-plain:before {
  content: "\ebe3";
  color: #d91404;
}
.devicon-rust-plain:before {
  content: "\ebe6";
  color: #000;
}
.devicon-swift-plain:before {
  content: "\ec34";
  color: #f05138;
}
.devicon-typescript-plain:before {
  content: "\ec63";
  color: #007acc;
}


/* NOTE: colors from file https://github.com/devicons/devicon/blob/main/devicon.json */
