localhost, ru.code-basics.test, en.code-basics.test, code-basics.test {
  # root /packs/* /etc/caddy/public/packs

  log {
    format single_field common_log
  }

  encode zstd
  tls internal

  reverse_proxy /* web:3000
  reverse_proxy /packs/* webpacker:3035
  reverse_proxy /ws webpacker:3035
}
