{
  # debug
  # auto_https disable_redirects
  # auto_https off
}

localhost, code-basics.test {
  # root /packs/* /etc/caddy/public/packs

  # log {
  #   format single_field common_log
  # }

  encode gzip
  tls internal

  reverse_proxy /* web:3000
}

http://hexletdev4.com {
  # root /packs/* /etc/caddy/public/packs

  encode gzip

  header {
    Access-Control-Allow-Origin *
    # Referrer-Policy unsafe-url
  }

  # automatic_https {
  #   disable true
  #   disable_redirects true
  # }

  reverse_proxy web:3000
}
