$body-bg: #f5f7fb;

@import 'bootstrap/scss/bootstrap';

// generage x-vh-{breakpoint}-{size} class (x-vh-md-50, etc)
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @each $prop, $abbrev in (width: w, height: h) {
      @each $size, $length in $sizes {
        .x-#{$abbrev}#{$infix}-#{$size} { #{$prop}: $length !important; }
      }
    }
  }
}

// generage x-(w|h)-{breakpoint}-{size} class (x-w-md-25, x-h-md-100, etc)
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @each $prop, $abbrev in (width: w, height: h) {
      @each $size, $length in $sizes {
        .x-#{$abbrev}#{$infix}-#{$size} { #{$prop}: $length !important; }
      }
    }
  }
}

$azure: #45aaf2;

@include bg-variant(".bg-azure", $azure);
@include bg-variant(".bg-cyan", $cyan);
@include bg-variant(".bg-orange", $orange);
@include bg-variant(".bg-indigo", $indigo);
@include bg-variant(".bg-blue", $blue);
@include bg-variant(".bg-yellow", $yellow);
@include bg-variant(".bg-red", $red);
