name: build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  VITE_RUBY_AUTO_BUILD: "false"
  DATABASE_TEST_HOST: localhost

jobs:
  build:
    services:
      postgres:
        image: postgres:17-alpine
        env:
          POSTGRES_DB: code_basics_test
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432

    # TODO: switch to arm https://github.blog/changelog/2025-01-16-linux-arm64-hosted-runners-now-available-for-free-in-public-repositories-public-preview/
    runs-on: ubuntu-latest
    steps:
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: "pnpm"

      - run: pnpm install

      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - run: bundle install

      - run: make lint

      - run: RAILS_ENV=test make build-assets

      - run: make test-all
